---
import { ORIGIN } from '@/utils/consts'
import '@/app.css'

interface Props {
  title: string
  lang?: string
  slug?: string
  bodyClass?: string
  themeColor?: string
  description: string
}

const faviconImagePath = ORIGIN + '/favicon.png'
const previewImagePath = ORIGIN + '/preview.png'
const { description, title, bodyClass, lang = 'en', themeColor, slug } = Astro.props
const canonicalUrl = typeof slug === 'string' ? new URL(slug, ORIGIN).href : ORIGIN
---

<!doctype html>
<html {lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    {themeColor && <meta name="theme-color" content={themeColor} />}

    <link rel="canonical" href={canonicalUrl} />
    <link rel="apple-touch-icon" href={faviconImagePath} />
    <link rel="icon" type="image/png" sizes="64x64" href={faviconImagePath} />

    <meta property="og:url" content={ORIGIN} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={previewImagePath} />
    <meta property="og:description" content={description} />

    <meta name="twitter:title" content={title} />
    <meta name="twitter:creator" content="@eriandev" />
    <meta name="twitter:image" content={previewImagePath} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />

    <slot name="head" />
  </head>

  <body class:list={['min-h-screen bg-black text-white', bodyClass]}>
    <slot />
  </body>
</html>
