---
import { ORIGIN } from '@/utils/consts.ts'
import Footer from '@/components/Footer.astro'
import type { FooterProps, HeadProps } from '@/components/types.ts'
import '@/app.css'

interface Props extends HeadProps {
  bodyClass?: string
  footer?: FooterProps
}

const faviconImagePath = ORIGIN + '/favicon.png'
const previewImagePath = ORIGIN + '/preview.png'
const { description, title, bodyClass, footer, lang = 'en', slug, themeColor } = Astro.props
const canonicalUrl = typeof slug === 'string' ? new URL(slug, ORIGIN).href : ORIGIN
---

<!doctype html>
<html {lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    {themeColor && <meta name="theme-color" content={themeColor} />}

    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="canonical" href={canonicalUrl} />
    <link rel="apple-touch-icon" href={faviconImagePath} />
    <link rel="icon" type="image/png" sizes="64x64" href={faviconImagePath} />

    <meta property="og:url" content={ORIGIN} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={previewImagePath} />
    <meta property="og:description" content={description} />

    <meta name="twitter:title" content={title} />
    <meta name="twitter:creator" content="@eriandev" />
    <meta name="twitter:image" content={previewImagePath} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />

    <slot name="preload" />

    <style>
      @font-face {
        font-family: 'Ubuntu Sans';
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url('/fonts/ubuntu-sans-400.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Ubuntu Sans';
        font-weight: 600;
        font-style: normal;
        font-display: swap;
        src: url('/fonts/ubuntu-sans-600.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Ubuntu Sans Mono';
        font-weight: 500;
        font-style: normal;
        font-display: swap;
        src: url('/fonts/ubuntu-sans-mono-500.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Ubuntu Sans Mono';
        font-weight: 600;
        font-style: normal;
        font-display: swap;
        src: url('/fonts/ubuntu-sans-mono-600.woff2') format('woff2');
      }
    </style>

    <slot name="head" />
  </head>

  <body class:list={['min-h-screen bg-black text-white', bodyClass]}>
    <slot />
    {footer && <Footer {...footer} />}
  </body>
</html>
